.main {
    display: flex;
    justify-content: center;
    background-color: white;
    height: 500px;
    width: 450px;
    margin-top: 10%;
    margin-left: 31%;
    border-radius: 10px;
    overflow: hidden;
}

#no {
    background: linear-gradient(red, blue);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 1000;
}

input {

    border-radius: 2%;
    margin-right: 10px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px;
    font-weight: bolder;
    font-size: medium;

}

input:focus {
    outline: none;
}

.en {
    margin: 2px;
    background-color: blue;
    border-radius: 50%;
    border-color: aliceblue color(srgb red green blue);
    color: aliceblue;
}

.en:hover {
    font-size: 15px;
}

.bn {
    border-radius: 50%;
    margin-right: 10px;
    background-color: green;
    color: white;
}

li {
    list-style: none;
    font-style: oblique;
    font-weight: 3px;

}

.bn:hover {
    background-color: red;
}